<meta charset="UTF-8" />
<meta name="author" content="{{ site.author }}">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@_ryannystrom">
<meta name="twitter:creator" content="@_ryannystrom">
<meta name="twitter:title" content="{{ page.title }}">

<meta content="{{ site.author }}" property="og:site_name"/>
<meta content="{{ page.title }}" property="og:title"/>
<meta content="{{ site.url }}" property="og:url"/>

{% if page.description %}
<meta name="description" content="{{ page.description }}">
<meta name="twitter:description" content="{{ page.description }}">
<meta content="{{ page.description }}" property="og:description"/>
{% else %}
<meta name="description" content="{{ site.description }}">
<meta name="twitter:description" content="{{ site.description }}">
<meta content="{{ site.description }}" property="og:description"/>
{% endif %}

<!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->

<link rel="alternate" type="application/rss+xml" title="RSS" href="/feed.xml" />

<link href='http://fonts.googleapis.com/css?family=Noto+Serif:400,700,400italic' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="/css/style.min.css" />

<link rel="shortcut icon" href="/favicon.ico">

<link rel="apple-touch-icon-precomposed" sizes="144x144" href="/img/apple-touch-icon-144x144.png">
<link rel="apple-touch-icon-precomposed" sizes="120x120" href="/img/apple-touch-icon-120x120.png">
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="/img/apple-touch-icon-114x114.png">
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="/img/apple-touch-icon-72x72.png">
<link rel="apple-touch-icon-precomposed" href="/img/apple-touch-icon.png">

<title>{{ page.title }}</title>

<script type="text/javascript">
var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-29022599-1']);
_gaq.push(['_trackPageview']);
(function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();
</script>