<ul id="mobile-menu">
	<li class="mobile-social">
		<a title="Twitter" class="social twitter" href="{{ site.twitter }}">{% include twitter.svg %}</a>
		<a title="Github" class="social github" href="{{ site.github }}">{% include github.svg %}</a>
		<a title="Email Ryan" class="social mail" href="mailTo:{{ site.email }}">{% include mail.svg %}</a>
		<a title="RSS Feed" class="social feed" href="{{ site.url }}/feed.xml">{% include feed.svg %}</a>
	</li>
	<li><a title="Blog" class="menu-option" href="{{ site.blog }}">Blog</a></li>
	<li><a title="About" class="menu-option" href="{{ site.about }}">About</a></li>
	<li><a title="Archive" class="menu-option" href="{{ site.archive }}">Archive</a></li>
	<li><a title="Apps" class="menu-option" href="{{ site.apps }}">Apps</a></li>
</ul>