// General
$backgroundColor: #f0f0f0;			// lighter gray
$foregroundColor: #fafafa;			// white
$borderColor: #efefef;				// light gray
$systemTextColor: #9e9e9e;			// gray
$textColor: #606060; 				// med gray
$highlightColor: #3261e5; 			// blue
$officialColor: #57b61c;			// green
$callToActionColor: #57b61c;		// green
$officialForegroundColor: #f3faef;	// light green
$negativeColor: #cd0000;			// red